.flicks {
    margin: 30px;
    cursor: pointer;
    flex-basis: calc(40% - 20px)
}



.flicks-author {
    margin: 10px;
}

.flicks-picture {
    height: 400px;
    background-size: cover;
    background-position: center;
}

.flicks-title {
    margin-top: 10px;
}

.flicks-social {

}
