.nav {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    padding: 0 20px;
    white-space: nowrap;
  }
  
  nav h3 {
    margin: 20;
  }
  

    