.App {
  text-align: center;
  display: flex;
}

.main {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.search {
  background-color: #000000;
  padding: 10px;
  margin-right: 5px;
}

.search input {
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  color: #999;
  width: 100%;
} 

.flick {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}  

.submit {
  background-color: #000000;
  width: 200px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
  font-weight: bold;
}